aiofiles
aiohttp
asyncio
yt-dlp==2025.10.22
beautifulsoup4
dnspython
ffmpeg-python
future==0.18.3

gitpython
httpx[http2]
heroku3
hachoir

motor==3.3.2
pillow==9.5.0
psutil

py-tgcalls==0.9.7
pykeyboard
pymongo==4.6.3

python-dotenv
pyyaml==6.0.1
requests
qrcode

SafoneAPI==1.0.65
tgcrypto
gpytranslate
MukeshAPI

googlesearch-python
youtube-search-python
telegraph
spotipy
speedtest-cli
unidecode
urllib3
wget
bing_image_downloader
Cloudscraper

telethon==1.33.1

git+https://github.com/KurimuzonAkuma/pyrogram.git@2ae00a2710dd3e347798473f3dd784e9639edb1a
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
